/* Space out content a bit */

body {
  padding-top: 50px;
  padding-bottom: 20px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */


.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
/* Custom page header */

.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
/* Custom page footer */

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
/* Customize container */



.signup-or-separator {
  position: relative;
  height: 34px;
  text-align: center;
  background: none;
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border: 1px solid #335190;
}

.btn-facebook:hover,
.btn-facebook:focus {
  color: #fff;
  background-color: #294786;
}

.btn-twitter {
  color: #fff;
  background-color: #00aced;
  border: 1px solid #009fdb;
}

.btn-twitter:hover,
.btn-twitter:focus {
  color: #fff;
  background-color: #0090c7;
}

.btn-google-plus {
  color: #fff;
  background-color: #dd4b39;
  border: 1px solid #d54331;
}

.btn-google-plus:hover,
.btn-google-plus:focus {
  color: #fff;
  background-color: #cb3927;
}



.mfbox, .thumbnail {
  background: #FFF;
  border: 1px solid #dadada;
  margin-bottom: 20px;
  position: relative;
  padding: 0;
}

.overlay-wrapper {
  position: relative;
}

.thumbnail .resource, .thumbnail .resource>a {
  display: block;
}

.item-card a {
  text-decoration: none;
}

a {
  color: #18d0b6;
}

.item-card .overlay-price {
font-size: 1.8em;
top: 15px;
}

.overlay-left {
left: 0;
}

.overlay {
position: absolute;
}
.item-card .overlay-watchlist {
bottom: 15px;
left: 15px;
}

.item-card a {
text-decoration: none;
}

a {
color: #18d0b6;
}

.box-body, .thumbnail .caption {
padding: 15px;
}

.thumbnail .caption {
padding: 9px;
color: #333;
}

.overlay-wrapper {
position: relative;
}

.item-card .caption .user {
display: inline-block;
margin-top: -40px;
}

.item-card a {
text-decoration: none;
}

.pull-right {
float: right!important;
}

.item-card .caption .user {
display: inline-block;
margin-top: -40px;
}

.item-card a {
text-decoration: none;
}

.pull-right {
float: right!important;
}

.thumbnail>img, .thumbnail a>img {
margin-right: auto;
margin-left: auto;
}

.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
display: block;
width: 100% \9;
max-width: 100%;
height: auto;
}

.thumbnail img {
width: 100%;
}

.text-ellipsis {
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

.row-space-1 {
margin-bottom: .3em;
}

.row-space-0, .row-space-1, .row-space-2, .row-space-3 {
display: block;
margin-top: 0;
}

.h4, .h5, .h6, h4, h5, h6 {
font-weight: 700;
}

.h0, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, hr {
line-height: 1.3em;
margin-top: .7em;
margin-bottom: .8em;
}

.h4, h4 {
font-size: 18px;
}

.item-card a {
text-decoration: none;
}

.footer a, .footer a:focus, .footer a:hover, .text-unstyled, a.text-unstyled, a.text-unstyled:focus, a.text-unstyled:hover, ul.breadcrumb a, ul.breadcrumb a:focus, ul.breadcrumb a:hover {
color: inherit;
}
.text-ellipsis {
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}


.dropdown-header, .item-report .nav>li>a, .text-muted {
color: #9AA2A8;
}

.dropdown-menu .text-one, .mfcategories #cat97:checked+label, .text-one, a.text-one:focus, a.text-one:hover {
color: #ff4d67;
}

item-card .overlay-price span {
border-radius: 0 5px 5px 0;
}

.item-card .overlay-price span, .price {
background-color: rgba(67,74,76,.8);
color: #fff;
display: inline-block;
padding: 5px 15px;
}

.item-card .overlay-price span, .price {
background-color: rgba(67,74,76,.8);
color: #fff;
display: inline-block;
padding: 5px 15px;
}
.item-card .overlay-price {
font-size: 1.8em;
top: 15px;
}
.overlay {
position: absolute;
}
.overlay-left {
left: 0;
}
#principalmap{
  height: 100%;
}
