<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>PensionAPP</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <link rel="stylesheet" type="text/css" href="bower_components/flexslider/flexslider.css">
  <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css">
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/isteven-angular-multiselect/angular-multi-select.css" />
  <link rel="stylesheet" href="bower_components/angular-rangeslider/angular.rangeSlider.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/carousel.css">
  <!-- endbuild -->
  <style>
    .input {
      background: #fff;
      border: 1px solid #ccc;
      margin-bottom: 0;
      position: relative;
    }
  </style>
</head>
<body ng-app="pensionApp">
<!--[if lt IE 7]>
<p class="browsehappy">Estas usando un navegador <strong>obsoleto</strong>. Por favor actualiza tu navegador para
  mejorar tu experiencia en <a href="http://browsehappy.com/">
</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="navbar navbar-inverse navbar-fixed-top" ng-controller="LoginCtrl">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Pension</a>
    </div>
    <div class="navbar-collapse collapse" ng-controller="MainCtrl">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#" ng-if="!isAuthenticated()">Home</a>

          <form class="navbar-form navbar-right">
           <!-- <input type="text" class="form-control" placeholder="Search..." ng-autocomplete="search.place">-->
          </form>
          <!--<a href="#/module" ng-if="isAuthenticated()">Module</a>-->
        </li>
        <li>
          <a ng-if="!isAuthenticated()" href="#about">About</a>
        </li>
        </ul>


      <ul class="nav navbar-nav nav-separated navbar-right">
        <li>
          <p class="navbar-btn">
            <a class="btn btn-success btn-outline text-uppercase" href="#/newproperty">
              <i class="mficon-add"></i><span class="hidden-sm">Publica tu propiedad</span>
            </a>
          </p>
        </li>
        <li >
          <a data-toggle="modal" data-target=".bs-example-modal-sm">
            Login				</a>
        </li>
        <li >
          <a data-toggle="modal" data-target=".bs-example-modal-sm">
            Registro</a>
        </li>
       <!-- <li class="dropdown with-icon">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown">
            <i class="mficon-settings"></i>
			<span class="visible-xs-inline">
							</span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">Langues</li>
            <li>
              <a class="" rel="nofollow" href="http://autroisieme.com/language/en_US">
                English						</a>
            </li>
            <li>
              <a class="text-bold" rel="nofollow">
                French						</a>
            </li>

          </ul>
        </li>-->
      </ul>
  <!--
        <div class="navbar-form navbar-right" ng-if="!isAuthenticated()">
          <button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Login</button>
          <button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Sign Up</button>

        </div>
        <div class="navbar-form navbar-right" ng-if="isAuthenticated()">


          <div class="dropdown">
            <button class="fa fa-plus btn btn-success">Publica tu propiedad</button>
            <button href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.name}} <b class="caret"></b>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="#/profile">Perfil</a>
              </li>
              <li>
                <a ng-click="logout()">Logout</a>
              </li>
            </ul>
          </div>
        </div>
        -->
    </div>
    <!--/.navbar-collapse -->
  </div>
</div>
<!-- Small modal -->

<div class="modal fade bs-example-modal-sm" ng-controller="LoginCtrl" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="mySmallModalLabel">Login</h4>
      </div>
      <div class="modal-body">
        <form name="formlogin"
              ng-submit="login(userlogin)" novalidate>
          <div class="form-group">
            <input type="email" ng-model="userlogin.email" placeholder="Email" class="form-control" required>
          </div>
          <div class="form-group">
            <input type="password" ng-model="userlogin.password" placeholder="Password" class="form-control"
                   required>
          </div>
          <button type="submit" ng-disabled="formlogin.$invalid" class="btn btn-success">Log in</button>

        </form>
        <div class="signup-or-separator">
          <h6 class="text">or</h6>
          <hr>
        </div>
        <button class="btn btn-block btn-facebook" ng-click="authenticate('facebook')">
          <i class="ion-social-facebook"></i> Sign in with Facebook
        </button>
        <button class="btn btn-block btn-google-plus" ng-click="authenticate('google')">
          <span class="ion-social-googleplus"></span>Sign in with Google
        </button>
        <button class="btn btn-block btn-twitter" ng-click="authenticate('twitter')">
          <i class="ion-social-twitter"></i> Sign in with Twitter
        </button>
      </div>


    </div>
  </div>
</div>

<div ui-view></div>

<!-- Main jumbotron for a primary marketing message or call to action -->


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->
<!-- endbuild -->
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/lodash/dist/lodash.compat.js"></script>
<script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
<script src="bower_components/isteven-angular-multiselect/angular-multi-select.js"></script>
<script src="bower_components/angular-rangeslider/angular.rangeSlider.js"></script>
<script src="bower_components/angular-flexslider/angular-flexslider.js"></script>
<script src="bower_components/satellizer/satellizer.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<!-- endbower -->
<script src="bower_components/flexslider/jquery.flexslider.js"></script>
<script src="bower_components/ng-file-upload/angular-file-upload-shim.min.js"></script>
<script src="bower_components/ng-file-upload/angular-file-upload.min.js"></script>
<!-- endbuild -->
<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/about.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/services/login.js"></script>
<script src="scripts/services/session.js"></script>
<script src="scripts/controllers/module.js"></script>
<script src="scripts/directives/ngautocomplete.js"></script>
<script src="scripts/controllers/geographic.js"></script>
<script src="scripts/services/geographics.js"></script>
<script src="scripts/services/properties.js"></script>
<script src="scripts/services/maps.js"></script>
<script src="scripts/controllers/property.js"></script>
<script src="scripts/controllers/myrequests.js"></script>
<script src="scripts/controllers/owner.js"></script>
<script src="scripts/controllers/ownerproperty.js"></script>
<script src="scripts/services/api.js"></script>
<script src="scripts/services/services.js"></script>
<script src="scripts/controllers/profile.js"></script>
<script src="scripts/controllers/tab.js"></script>
<script src="scripts/services/user.js"></script>
<script src="scripts/controllers/newproperty.js"></script>
<!-- endbuild -->
</body>
</html>
