<div class="container">
  <br/>
<style>
  .angular-google-map-container { height: 100vh; }
</style>
  <div class="row">
    <div class="col-md-6 .visible-xs-block, hidden-xs">
      <ui-gmap-google-map style="height: 400px; width: 100%; display: block;" center="map.center" zoom="map.zoom" draggable="true" id="principalmap">
        <ui-gmap-circle ng-repeat="c in map.circles track by c.id" center="c.center" stroke="c.stroke" fill="c.fill"
                radius="c.radius" visible="c.visible" geodesic="c.geodesic" editable="c.editable"
                draggable="c.draggable" clickable="c.clickable"></ui-gmap-circle>
        <ui-gmap-markers models="map.markers" coords="'self'" options="'options'" events="'events'"></ui-gmap-markers>
      </ui-gmap-google-map>
    </div>
    <div class="col-md-6">

      <div class="row">
        <div class="col-md-8">

          <label for="Autocomplete">Reference place:</label>
          <input type="text" id="Autocomplete" class="form-control" ng-autocomplete="search.place"
                 details="search.placedetails" options=""/>
        </div>

        <div class="col-md-4">
          <label for="Autocomplete">Tipo:</label>
          <select ng-model="search.type" class="form-control">
            >
            <option value="1" selected>Cuartos</option>
            <option value="2">Camas (cupos)</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-primary" ng-click="searchProperty()">Search</button>

          <button class="btn btn-default" ng-click="search.advanced = !search.advanced">
            Opciones avanzadas
          </button>
          <div ng-show="search.advanced">

            <div class="row">

              <div class="col-md-6">
                Servicios
                <div multi-select input-model="search.services" button-label="icon name"
                     item-label="icon name maker" tick-property="ticked">
                </div>
              </div>

              <div class="col-md-6">
                Precio
                <div range-slider min="50000" max="500000" model-min="search.price.min"
                     model-max="search.price.max" filter="currency" filter-options="COP $" step="50"></div>
              </div>

            </div>

            <div class="row">

              <div class="col-md-12">
                Distancia
                <div range-slider min="0" max="10000" model-max="search.distance.max" pin-handle="min"></div>
              </div>

            </div>


            <!-- <div class="row">


               <div class="col-md-12">
                 <table class="table">
                   <tr ng-repeat="property in properties">
                     <td><img src="https://builder.divshot.com/img/placeholder-64x64.gif" alt="Foto"/></td>
                     <td><strong>{{property.name}}</strong></td>
                     <td><strong>Cupos</strong> <br/>{{property.rooms.length}}</td>
                     <td><strong>Precios desde</strong><br/> {{property.min | currency}}</td>
                     <td><strong>*****</strong><br/><a href="#/property/{{property.id}}"
                       class="btn btn-default">Information</button></a></td>
                     </tr>
                   </table>

                 </div>
               </div>
             </div>-->
          </div>

          <hr/>
          <div class="row">
            <div class="col-sm-6" ng-repeat="property in properties">

              <div mf-item-card="" class="thumbnail item-card " data-lat="48.86453" data-lng="2.393063"
                   data-name="Camille" data-user="13873" data-category-id="97" data-id="6581">
                <div class="overlay-wrapper clearfix">
                  <a class="resource" href="#/property/{{property.id}}">
                    <img class="img-responsive top-round3"
                         src="http://autroisieme.com/oc-content/uploads/65/8997_preview.jpg"
                         alt="Colocation à Paris 20e Arrondissement">
                  </a>

                  <div class="overlay overlay-top overlay-left overlay-price">
              <span class="price">
                {{property.min | currency}} </span>
                  </div>
                  <div class="overlay overlay-watchlist">
                    <div class="">
                      <a href="http://autroisieme.com/user/login" class="watchlist watchlist-add">
                        <i class="mficon-heart text-color-transparent-gray"></i>
                        <i class="mficon-heart-empty text-white overlay"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="caption overlay-wrapper">
                  <a class="user pull-right" href="http://autroisieme.com/user/profile/13873"
                     title="Profil de Camille">
                    <img alt="Profil de Camille" class="round5 img-thumbnail"
                         src="http://autroisieme.com/oc-content/uploads/user_resources/profile13873_nav.jpg?=1417386325"
                         data-toggle="tooltip" data-placement="left" title="" data-original-title="Camille">
                  </a>
                  <h4 class="h4 row-space-1 text-ellipsis">
                    <a href="http://autroisieme.com/colocation/chambre-libre-colocation-gambetta-i6581"
                       title="Chambre libre colocation Gambetta" class="text-unstyled">
                      {{property.name}} </a>
                  </h4>

                  <div class="text-muted text-ellipsis">
                    <span class="text-one">Cupos: {{property.rooms.length}}</span>
                    &nbsp;<span>{{property.address}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>


</div>
