<style>
  .angular-google-map-container {
    height: 400px;
    width: auto;
  }

  .bg-main, .shadow-inset-top {
    box-shadow: inset 0 3px 1px 0 rgba(0, 0, 0, .05);
  }

  .row-xs {
    height: 70px;
  }

  .bg-main, .row-sm {
    height: 70px;
  }

  .bg-main-pink {
    background: #f4f1ed url(http://autroisieme.com/oc-content/themes/frigow/assets/img/bg-main-pink.png) 0 -80px;
    background-size: 260px 260px;
  }

  .filter, .stbox {
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, .07), inset 0 1px 4px 0 rgba(0, 0, 0, .025);
  }

  .bg-white, .stbox {
    background-color: #fff;
  }

  .row-space-1 {
    margin-bottom: .3em;
  }

  .row-space-0, .row-space-1, .row-space-2, .row-space-3 {
    display: block;
    margin-top: 0;
  }

  .pull-sm-left {
    float: left !important;
  }

  .pull-sm-right {
    float: right !important;
  }

  .text-shadowed-1 {
    text-shadow: 2px 2px 0 rgba(15, 28, 1, 0.60), 4px 4px 0 rgb(253, 253, 253);
  }

  .text-shadowed-0, .text-shadowed-1 {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
  }

  .angular-google-map-container {
    height: 300px;
    width: auto;
  }

  .drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 65px;
    text-align: center;
    padding-top: 25px;
    float: left;
    margin-left: 20px;
  }

  .rooms {
    border-left-style: solid;
    border-left-color: #ff0000 #0000ff;
    padding-left: 10px;
  }
</style>
<div class="bg-main bg-main-pink row-xs cover">
  <div class="col-xs-12 col-middle text-center">
    <h1 class="text-shadowed-1">Publica tu propiedad</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form action="" novalidate name="formcreateproperty" ng-submit="createProperty()">
        <div class="form-group">
          <label class="control-label">Nombre de tu propiedad</label>

          <div class="controls"><input type="text" ng-model="property.name" class="form-control" ng-required></div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label class="control-label">Pais</label>

            <div class="controls">
              <select type="text" class="form-control" ng-model="countryselected"
                      ng-options="country.name for country in geographic" ng-required>
              </select>
            </div>

            <label class="control-label">Departamento</label>

            <div class="controls">
              <select type="text" class="form-control" ng-model="stateselected"
                      ng-options="zone.name for zone in countryselected.zones" required>
              </select>
            </div>

            <label class="control-label">Ciudad</label>

            <div class="controls">
              <select type="text" class="form-control" ng-model="cityselected"
                      ng-options="city.name for city in stateselected.cities" required>
              </select>
            </div>
            <div class="form-group">
              <label class="control-label">Direccion</label>

              <div class="controls"><input ng-model="property.address" type="text" class="form-control"
                                           ng-blur="findLatLng()" required></div>
            </div>
            <div class="alert alert-info" role="alert">Asegurate que tu direccion concuerde con el punto en el mapa, si
              no es el caso por favor ubicalo correctamente.
            </div>
            <input type="hidden" ng-bind="property.latitude" required>
            <input type="hidden" ng-bind="property.longitude" required>
          </div>
          <div class="col-md-8">
            <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true">
              <ui-gmap-markers models="map.markers" coords="'self'" options="'options'"
                               events="'events'"></ui-gmap-markers>
            </ui-gmap-google-map>
          </div>


        </div>
        <div class="form-group">
          <label class="control-label">Imagenes de tu propiedad</label>

          <div class="controls"><input type="file" ng-file-select="onFileSelect($files)" multiple>

          </div>
          <span ng-show="paths.length" class="lbl lbl-success">{{paths.length}} imagen subida</span>
        </div>


        <div class="row">
          <div class="checkbox col-md-12">
            <label>
              <input type="checkbox" value="true" ng-model="property.is_available"> Esta disponible esta propiedad?
            </label>
          </div>
          <div class="col-md-12">
            <button class="fa fa-plus btn btn-default" ng-click="addRoom()">Añadir cuarto</button>
            <br/>

            <div ng-repeat="room in property.rooms" class="rooms">
              Cuarto {{$index+1}}
              <button class="btn btn-danger" ng-click="removeRoom(property.rooms, $index)">Borrar</button>
              <br/>
              <label class="control-label">Tipo</label>
              <div class="form-group">
              <div class="controls">
                <select type="text" class="form-control" ng-model="room.type" required>
                  <option value="1">Por cuartos</option>
                  <option value="2">Por camas</option>
                </select>
              </div>
                </div>
              <div class="checkbox col-md-12" ng-if="room.type == 1">
                <label>
                  <input type="checkbox" value="true" ng-model="room.is_available" > Esta disponible este cuarto?
                </label>
              </div>
              <div class="form-group" ng-show="room.type==='1'">

                <label class="control-label">Precio</label>

                <div class="controls">
                  <input type="text" class="form-control" required ng-disabled="room.type===2" ng-model="room.price">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">Servicios</label>
                <div multi-select input-model="room.services" button-label="icon name"
                     item-label="icon name maker" tick-property="ticked">
                </div>
              </div>
              <div class="form-group">

                <button class="fa fa-plus" ng-show="room.type == 2" ng-click="addBed(room)">Añadir cama</button>
                <div ng-repeat="bed in room.beds" class="rooms">
                  Cama {{$index+1}} <button class="btn btn-danger" ng-click="removeBed(room.beds, $index)">Borrar</button>
                  <div class="form-group">
                    <label class="control-label">Precio</label>

                    <div class="controls">
                      <input type="text" class="form-control" ng-model="bed.price">
                    </div>
                  </div>

                  <div class="checkbox col-md-12" ng-if="room.type == 2">
                    <label>
                      <input type="checkbox" value="true" ng-model="room.is_available" > Esta disponible esta cama?
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-success" ng-disabled="formcreateproperty.$invalid">Crear</button>
        </div>
      </form>
    </div>

  </div>
</div>
