<ul class="nav nav-tabs">
    <li class="active">
        <a>My properties</a>
    </li>
    <li><a>Requests</a>
    </li>
</ul>
My properties
<div ng-repeat="property in properties">
    <a href="#/owner/property/{{property.id}}">{{property.name}}</a>
</div><br>
<a class="btn btn-primary" ng-click="toggleAddProperty()">Add property</a>

<div class="row" ng-show="showaddproperty">
    <div class="col-md-6">
        <form name="createproperty" ng-submit="createProperty(property)" novalidate>

            <div class="form-group">
                <label class="control-label">Name</label>
                <div class="controls">
                    <input type="text" ng-model="property.name" class="form-control" required>
                </div>

                <label class="control-label">Lease type</label>
                <div class="controls">
                    <select type="text" class="form-control" ng-model="property.type" required>
                        <option value="2">Rooms</option>
                    </select>
                </div>

                <div ng-show="property.type == 2">
                    <a class="btn btn-primary" ng-click="addRoom()">Add room</a>
                    Rooms
                    <div ng-repeat="room in property.rooms">
                        <label class="control-label">Price</label>
                        <div class="controls">
                            <input type="number" ng-model="room.price" class="form-control" required>
                        </div>
                        <label class="control-label">Services</label>
                        <div class="controls">
                            <div
                                    multi-select
                                    input-model="room.services"
                                    button-label="icon name"
                                    item-label="icon name maker"
                                    tick-property="ticked"
                                    >
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <label class="control-label">Country</label>
            <div class="controls">
                <select type="text" class="form-control" ng-model="countryselected" ng-options="country.name for country in geographic" required>
                </select>
            </div>

            <label class="control-label">State</label>
            <div class="controls">
                <select type="text" class="form-control" ng-model="stateselected" ng-options="zone.name for zone in countryselected.zones" required>
                </select>
            </div>

            <label class="control-label">City</label>
            <div class="controls">
                <select type="text" class="form-control" ng-model="cityselected" ng-options="city.name for city in stateselected.cities" required>
                </select>
            </div>

            <label class="control-label">Address</label>
            <div class="controls">
                <input type="text" ng-model="property.address" class="form-control" ng-blur="findLatLng()" required>
            </div>

            <input type="hidden" ng-bind="property.latitude" required>
            <input type="hidden" ng-bind="property.longitude" required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="true" ng-model="property.authorization" required>I accept that this property is mine or i have authorization to put it in lease
                </label>
            </div>


            <input type="submit" class="btn btn-primary" ng-disabled="createproperty.$invalid" />

        </form>
    </div>

    <div class="col-md-6">
        <google-map center="map.center" zoom="map.zoom" draggable="true">
            <markers models="map.markers" coords="'self'" options="'options'" events="'events'">
            </markers>
        </google-map>
    </div>
</div>