<p>This is the ownerproperty view.</p>


<div class="media">
    <a class="pull-left" href="#">
        <img class="media-object" src="https://builder.divshot.com/img/placeholder-64x64.gif">
    </a>
    <div class="media-body">
        <h4 class="media-heading">{{property.name}}</h4>
        <p>{{property.address}}</p>
        <p>Lease type:
            <span ng-show="property.type === 1">Entire property</span>
            <span ng-show="property.type === 2">By rooms</span>
            <span ng-show="property.type === 3">By beds</span>
        </p>
        <div ng-show="property.type === 3">
            <b>Rooms</b> <a class="btn btn-primary" ng-if="owner">Add Room</a>
            <div class="col-md-12 list-group-item" ng-repeat="room in property.rooms">
                {{room.price | currency}}
                <br>Available?: <span ng-show="room.isoccupied === 0">Yes</span>  <span ng-show="room.isoccupied === 1">No</span>
            </div>
        </div>
    </div>