<ol class="breadcrumb">
    <li><a href="#">Modulo</a></li>
    <li class="active"><a href="#">Perfil</a></li>
</ol>
<div class="tab" ng-controller="ProfileCtrl">
    <ul class="nav nav-tabs" role="tablist">
        <li ng-class="{active:isSelected(1)}">
            <a href ng-click="selectTab(1)">Perfil</a>
        </li>
        <li ng-class="{active:isSelected(2)}">
            <a href ng-click="selectTab(2)">Mis peticiones</a>
        </li>
        <li ng-class="{active:isSelected(3)}" ng-show="user.properties.length > 0">
            <a href ng-click="selectTab(3)">Propiedades</a>
        </li>
        <li ng-class="{active:isSelected(4)}">
            <a href ng-click="selectTab(4)">Peticiones a mis propiedades</a>
        </li>
    </ul>
    <br/>
    <div class="row">
        <div class="col-md-1">

        </div>

        <div class="col-md-10">
            <div>
                <div ng-show="isSelected(1)">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="http://www.iconpng.com/png/windows8_icons2/user_2.png" height="200" width="200">
                        </div>
                        <div class="col-md-8 row">
                            <div class="col-md-12">
                                <strong>{{user.name}}</strong>
                            </div>
                            <div class="col-md-12">
                                *****
                            </div>
                            <div class="col-md-12">
                                Vivo en ...
                            </div>

                        </div>
                    </div>
                </div>
                <div ng-show="isSelected(2)">
                    <span ng-show="user.requestsByRoom.length === 0" class="alert alert-info">
                        No has realizado peticiones
                    </span>
                    <strong ng-show="user.requestsByRoom.length > 0">
                        Peticiones a cuartos
                    </strong>

                    <table class="table">
                        <tr ng-repeat="request in user.requestsByRoom">
                            <td><img src="https://builder.divshot.com/img/placeholder-64x64.gif" alt="Foto"/></td>
                            <td>
                                <strong>{{request.room.property.name}}</strong>
                                <br/>
                                <strong>****</strong>
                            </td>
                            <td>
                                <strong>Tipo</strong>
                                <br/>
                                <span ng-if="request.room.type===1">Cuarto</span>
                                <span ng-if="request.room.type===2">Cama (Cupo)</span>
                            </td>
                            <td>
                                <a href="#/property/{{property.id}}" class="btn btn-primary">Cancelar</a>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>

            <div ng-show="isSelected(3)">
                <div class="media row" ng-repeat="property in user.properties">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="https://builder.divshot.com/img/placeholder-64x64.gif">
                    </a>

                    <div class="media-body">
                        <div class="row">
                            <div class="col-md-4">
                                <h4 class="media-heading">{{property.name}}</h4>

                                <p> **** </p>
                            </div>
                            <div class="col-md-2">
                                <h4 class="media-heading">Peticiones</h4>
                                2
                            </div>
                            <div class="col-md-3">
                                <a class="btn btn-default">Administrar Propiedad</a>
                            </div>
                            <div class="col-md-3">

                                <a class="btn btn-default" ng-click="selectTab(4)">Ver peticiones</a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div ng-show="isSelected(4)">
                <table class="table">
                    <tr ng-repeat="request in user.requests">
                        <td>
                            <img src="https://builder.divshot.com/img/placeholder-64x64.gif" alt="Foto"/>
                            <br/>
                            <strong>{{request.room.property.name}}</strong>
                        </td>
                        <td>
                            <strong>{{request.user.name}}</strong><br/>
                            Realizada el : <br>{{request.created_at}}
                        </td>
                        <td>
                            <strong>Tipo</strong>
                            <br/>
                            <span ng-if="request.type===1">Cuarto</span>
                            <span ng-if="request.type===2">Cama (Cupo)</span>
                        </td>
                        <td>
                            <a class="btn btn-success" ng-click="acceptRequest(request)">Aceptar</a>
                            <a class="btn btn-default" ng-click="ignoreRequest(request)">Ignorar</a>
                        </td>
                    </tr>
                </table>

            </div>
        </div>

        <div class="col-md-1">

        </div>
    </div>

    <br/>

</div>