<style>
  .angular-google-map-container {
    height: 400px;
    width: auto;
  }

  .bg-main, .shadow-inset-top {
    box-shadow: inset 0 3px 1px 0 rgba(0, 0, 0, .05);
  }

  .row-xs {
    height: 40px;
  }

  .bg-main, .row-sm {
    height: 40px;
  }

  .bg-main-pink {
    background: #f4f1ed url(http://autroisieme.com/oc-content/themes/frigow/assets/img/bg-main-pink.png) 0 -80px;
    background-size: 260px 260px;
  }

  .filter, .stbox {
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, .07), inset 0 1px 4px 0 rgba(0, 0, 0, .025);
  }

  .bg-white, .stbox {
    background-color: #fff;
  }

  .row-space-1 {
    margin-bottom: .3em;
  }

  .row-space-0, .row-space-1, .row-space-2, .row-space-3 {
    display: block;
    margin-top: 0;
  }

  .pull-sm-left {
    float: left !important;
  }

  .pull-sm-right {
    float: right !important;
  }

</style>
<br/>
<div class="bg-main bg-main-pink row-xs cover"></div>
<div class="stbox">
  <div class="container">
    <div class="stbox-md-inner clearfix">
      <h1 class="h3 row-space-1">{{property.name}}</h1>

      <h2 class="h6 text-muted row-space-1 pull-sm-left">
        <span
          class="text-muted">{{property.address}} - {{property.city.name}}, {{property.city.zone.country.name}}</span>&nbsp;
      </h2>
      <ul class="list-unstyled list-inline row-space-0 pull-sm-right">
        <li class="h6 text-muted row-space-0">
          <i class="mficon-pencil"></i>&nbsp;Publicado el {{property.created_at}}
        </li>
      </ul>
    </div>
    <!-- row end -->
  </div>
</div>

<div class="container" ng-controller="TabCtrl">
  <ul class="nav nav-tabs" role="tablist">
    <li ng-class="{active:isSelected(1)}">
      <a href ng-click="selectTab(1)">Imagenes</a>
    </li>
    <li ng-class="{active:isSelected(2)}">
      <a href ng-click="selectTab(2)">Mapa</a>
    </li>
  </ul>
  <div style="background-color: inherit">
    <div ng-show="isSelected(1)">
      <flex-slider slide="s in mySlides">
        <li>
          <img ng-src="{{s}}">
        </li>
      </flex-slider>
    </div>
    <div ng-show="isSelected(2)" style="padding-bottom: 30px;">
      <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true">
        <ui-gmap-markers models="map.markers" coords="'self'" options="'options'" events="'events'"></ui-gmap-markers>
      </ui-gmap-google-map>
    </div>
  </div>
</div>

<div class="bg-main bg-main-pink row-xs cover"></div>

<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <strong>Descripcion</strong>

      <p>{{property.description}}</p>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <strong ng-show="property.rooms.length">Cupos por cuartos</strong>

      <div class="row col-md-12 col-sm-12 col-xs-12" style="padding: 10px" ng-repeat="room in property.rooms">
        <div class="col-md-5 col-sm-5 col-xs-5">
          <img src="http://placehold.it/200x100" title="Foto cuarto"/>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-7">
          <div class="col-md-12 col-sm-12 col-xs-12">
            {{room.price | currency}}
          </div>
          <div class="row col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-6 col-sm-6 col-xs-6" >
              <img src="http://localhost/pension/public/images/services/{{service.id}}.png" height="20" width="20" ng-repeat="service in room.services"
                   title="{{service.name}}"/>

              <p ng-show="service.pivot.description !== null">
                {{service.pivot.description}}
              </p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <a class="btn btn-default" ng-show="room.applied">Esperando aprobacion</a>
              <div class="dropdown" ng-show="!room.applied">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                  Aciones
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                  <li role="presentation"><a role="menuitem" tabindex="-1">Contactar vendedor</a></li>
                  <li role="presentation"><a role="menuitem" ng-click="applyRoom({{room.id}})" ng-show="!room.applied" tabindex="-1" >Solicitar cupo</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <hr/>
      </div>
    </div>
  </div>
</div>
